* {
    margin: 0 auto;
    padding: 0 auto;
    
}

body{
    overflow: hidden;
    /* -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; */

    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar .logo img{
    width: 120px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .sidebar{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 210px;
    height: 100%;
    background: #a72828;
    padding: 20px 0px;
    position: fixed;
    transition: ease all .3s;

    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  
}

.wrapper .sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.wrapper .sidebar ul li{
    text-decoration: none;
    padding: 14.5px;
    margin-left: -40px;
    border-bottom: 1px solid #9e2212;
    border-top: 1px solid #e20c0c04;
}    

.wrapper .sidebar ul li a{
    text-decoration: none;
    color:#cecece;
    font-size: 14px;
    display: block;
}

.wrapper .sidebar ul li a i{
    width: 25px;
    font-size: 15px;
}

.wrapper .sidebar ul li:hover a{
    transition: ease all .3s;
    color:#ffffff;
}

#active{
    background: #4e0000;
    color:#ffffff;
    font-weight: 600;
    border-radius: 0px;
    /* transform: scale(1.0); */
}

.activefont{
    font-weight: 800;
    font-size: 11px;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 210px;
    overflow: hidden;
}

.wrapper .main_content h1{
    width: 100%;
    display:flex;
    padding: 20px;
    padding-left: 30px;
    justify-content:space-between;
    align-items:center;
    box-shadow: #555555cc 0 0 20px;
    position: fixed; top: 0px;

    background-color: #580303;
    color: #ffffff;
}

.content{
    margin-top: 90px;
    color: #580303;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    height: 84vh;
    overflow:auto;
}

.content label{
    font-size: 17.5px;
    font-weight: bold;
}

.content i{
    margin-right: 
    10px;
}
.content p{
    margin-top: 8px;
}

.dropdown { /*Dropdown class for SETTINGS BUTTON*/
    color: white;
}

.dropdown .records{
    text-decoration: none;
    color:#cecece;
    font-size: 14px;
    display: block;
}

.dropdown ul{
    display: none;
    margin-bottom:10px;
	padding-left:10px;
	border-radius:10px;
	font-size: 12px;
}
 
.dropdown ul #li{
    border-top: 0px;
    border-bottom: 0px;
    line-height: 40px;
    color:#cecece;
    display: inline;
}

.dropdown ul i{
    width: 18px;
    font-size: 13px;
}

.dropdown ul a{
    text-decoration: none;
    
}

.dropdown input{
    display: none;
}

.dropdown ul #li:hover{
    transition: ease all .3s;
    color:#ffffff;
}

#checkbox {
    opacity: 0;
}

#checkbox, #checkbox2 {
    opacity: 0;
}

#checkbox:checked + ul, #checkbox2:checked + ul{
    display: block;
}

table{
    border-collapse: collapse;
    line-height: 15px;
    height: auto;
    background: #580303;
    width: 100%; 
    table-layout: fixed;
}

  
th {
    background-color: #4e0000;
    color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 16px;
}

th, td {
    border:1.5px solid #ffffff;
}

td{
    padding: 7px;
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

tbody{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

thead{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

tr{
    background-color: #fff;
    font-size: 15px;
}

table tr:nth-child(odd) td{
    background-color: #ff10101e;
}

#updatebutton{
    color: #4e0000;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    border: none;
    outline: none;
    text-align: center;
    background-color: #f8f8f800;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    height: 50vh auto;
    width: 500px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    color: #333;
    font-size: 1.2rem;
}

.popup hr{
    background-color: #000000;
    padding: 0.7px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 19px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 22px;
}

#bookImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 100px;
}

/* scroll design para sa table */
.content::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

.content::-webkit-scrollbar
{
	width: 10px;
    border-radius: 6px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
    border-radius: 6px;
	background-color: #750b0b;
}
.content::-webkit-scrollbar-thumb:hover
{
    border-radius: 6px;
	background-color: #8f0c0c;
}

#pagebutton{
    width: 40px;
    text-align: center;
}

#paginations{
    list-style-type:none;
    /* width: fit-content;
    transition: ease all .3s; */
    /* border:3px solid #2e2e2e; */
    /* padding: 15px; */
    width: 600px;
    height: 70px;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

#paginationsli {
    float: left;
    font-size: 12px;     
    list-style-type: none;
}

#paginations a {
    position: relative;
    top: 15px;     
    color: #c6c6c6;
    background: #151515;
    padding: 10px;
    border-radius: 3px;
}


/* 
#pagination a, #pagination li{
    color: #c6c6c6;
    background: #151515;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#pagination a:hover{
    background-color: #292929;
    transition: ease all .3s;
} */